.cabeçalho{
    background-color: aqua;
    top: auto;
}
.rodape{
    background-color: aqua;
}
.menu{
    top: auto;
    background-color: aqua;
    display: inline;

}
p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
text-align: right;
color: black;
border: 5px solid black;
nav{
    display: inline-block;
    width: 10px;
    list-style-type: none;
}

}
.fundo{
    background-color: beige;
}