.cabeçalho {
    background-color: #EB4FE5;
    margin-bottom: 10px;
}

.rodape {
    background-color: #EB4FE5;
    margin-top: 200px;
    color: #420001;

}
h1{
margin-left: 600px;
font-size: 40px;
color: #420001;
}
.menu {

    
}

p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    text-align: left;
    left: 40px;
    color: #420001;
    
}

ul {
    list-style-type: none;
    background-color: #EB4FE5;
    color: #420001;
}

li {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    content: 10px;
}

.img {
    width: 100px;
    margin-right: 50px;
}

.fundo {
    background-color: #FFCAF4;
}