.cabeçalho{
    background-color: aqua;
}
.rodape{
    background-color: aqua;
}
.menu{
    background-color: aqua;
    list-style-position: outside
    
}
p{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
text-align: right;
color: black;


}
.fundo{
    background-color: beige;
}