.rodape{
    background-color: #EB4FE5;
    color: #420001;
    font-weight: bold;
    padding-top: 1.5rem;

}


.rodape a{
    text-decoration: none;
}

.rodape img{
    width: 50px;
    padding: 10px 20px;
    margin-bottom: 50px;
    color: #420001;
}
