
.cabeçalho {
    background-color: #EB4FE5;
    margin-bottom: 10px;
}

.rodape {
    background-color: #EB4FE5;
    margin-top: 200px;
    color: #420001;
    font-weight: 700;
    font-size: larger;
    text-align: center;


}
h1{
font-size: 40px;
color: #420001;
text-align: center;
}
.menu ul li{
    display: inline;
   

    
}

p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    text-align: left;
    left: 40px;
    color: #420001;
    
}


ul {
    list-style-type: none;
    background-color: #EB4FE5;
    color: #420001;
    font-weight: 700;
    font-size: larger;
    text-decoration-color: #420001;
}

li {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    content: 10px;
    text-align: center;
    
}

.img {
    width: 100px;
    margin-right: 50px;
    margin-left: 100px;
}

.fundo {
    background-color: #FFCAF4;
}