*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}

.fundo .body{
background-color: #FFCAF4;
display: inline;
}

.cabeçalho{
    background-color: #e626df;
    padding: 10px;
}

.cabeçalho img {
    width: 70px;
}

.cabeçalho h1{
    display: inline;
    padding: 500px;
    color: #420001;
text-align: center;

}

.menu{
    margin-top: 10px;
    background-color: #e626df;
    padding: 0px 20px;
    font-weight: bold;
    color: #1E152A;
}

.menu a:visited{
    color: #420001;
}

.menu a{
    text-decoration: none;
}

.menu ul li {
    display: inline;
    margin: 1px 7px;

}

.menu ul li:hover{
    border: 2px solid #FFCAF4;
}


.grid{
    display: grid;
    height: 100%vh;
    width: 100%vw;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
        display: inline;
        gap: 10px;
}

head{
    grid-area: cabeçalho;
    display: flex;
    flex-direction: row;

   
}

nav{
    grid-area: nav;
    text-align: center;

}

main{
    grid-area: main;
}

footer{
    grid-area: rodape;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}


h1 {
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: 1
}

@keyframes aparecer {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
