main{
    padding: 10px;
}



.texto{
    color: #1E152A;
    padding: 100px 200px;
    font-size: 2rem;
    margin-left: 60%;
    width: 50%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.img{
    width: 274%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25%;
    margin-right: 245%;

}

.conteudo{
    display: flex;
    width: 30%;
}


.teste{
    display:inline
}