main{
    padding: 10px;
}

p{
    color: #1E152A;
    padding: 10px 5px;
    font-size: 2rem;
    
}

.img{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.conteudo{
    display: flex;
    width: 40%;
}

